<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mi destino</title>

  
	<link rel="icon" href="img/Fevicon.png" type="image/png">


  <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/flat-icon/font/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/nice-select/nice-select.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-shape">


  <!--=============== Navbar =================-->

  {% include "plantillas/navbar.html" %}
  

  <!--===============final Navbar=================-->

  
  <!--=============== Mostrar servicios =================-->

  <br>

  <section class="section-margin generic-margin">
    <div class="container">
      <div class="section-intro text-center pb-90px">
        <h2>Nuestros Hoteles más populares</h2>
        <p>Aquí podras ver los servicios más amados por nuestros ususarios</p>
      </div>
  

  <section class="section-margin pb-xl-5">
    <div class="container">
      <div class="row">
        {% for post in posts %}
        <div class="col-md-6">
          <div class="tour-card">
            <img class="card-img rounded-0" src="{{post.imagen.url}}"  alt="">
            <div class="tour-card-overlay">
              <div class="media">
                <div class="media-body">
                  <h4> {{ post.nombre }} </h4>
                  <small>5 estrellas</small>
                  <p>{{ post.direccion }}</p>
                </div>
                <div class="media-price">
                  <h4 class="text-primary">$$/tour</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>

  <!--=============== Fin de los servicios =================-->



  <!-- ================ Footer ================= -->

  {% include "plantillas/footer.html" %}

  <!--=============== Final del footer =================-->

</body>
</html>


