<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h2>Lista de Hoteles</h2>
     <h3>Cantidad de hoteles: {{ count }}</h3>
     <table border="1">
        <thead>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Imagenes</th>
        </thead>
        <tbody>
            {% for item in hotel%}
            <tr>
            <td>{{item.nombre}}</td>
            <td>{{item.direccion}}</td>
            <td>{{item.imagen}}</td>
            </tr>
            {% endfor %}
        </tbody>
     </table>
</body>
</html>